<link rel="stylesheet" href="/css/table-user.css">
<link rel="stylesheet" href="/css/addproducts.css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/offer.css">
<link rel="stylesheet" href="/cropper/cropper.css">
<script src="/cropper/cropper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div class="details-section p-3 ">

    <div class=" shadow rounded-5  input-add-pro p-5 bg-white  bg-opacity-75">


        <form id="offerForm" method="post"  class="form-add-product" action="/admin/createoffer" enctype="multipart/form-data">

            <div class="row g-3 p-3 ">
                <div class="col-md-6">
                    <!-- Left side -->
                    <label class="form-label" for="OfferTitle">Offer Title</label>
                    <input type="text" name="OfferTitle" placeholder="enter Offer Title" class="form-control"
                        id="OfferTitle-name">
                    <h6 id="OfferTitleAlert"></h6>

                    <label class="form-label" for="category">Category</label>
                    <select name="category" id="category" class="form-select">
                        {{#each category}}
                        <option value="{{this._id}}">{{this.category}}</option>
                        {{/each}}
                    </select>

                    <label for="recipient-name" class="col-form-label">Start Date</label>
                    <input type="date" name="startDate" placeholder="enter Expire Date" class="form-control"
                        id="start-date">
                     <h6 id="startDateAlert"></h6>
                    <label for="recipient-name" class="col-form-label">End Date</label>
                    <input type="date" name="endDate" placeholder="enter Expire Date" class="form-control"
                        id="end-date">
                       <h6 id="endDateAlert"></h6>
                    <div class="mb-3">
                        <label class="form-label">Discount Type</label>
                        <div class="form-check">

                            <input class="form-check-input" type="radio" name="discountType" id="discountPercentage"
                                value="percentage" checked>
                            <label class="form-check-label" for="discountPercentage">
                                Discount Percentage
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="discountType" id="discountAmount"
                                value="amount">
                            <label class="form-check-label" for="discountAmount">
                                Discount Amount
                            </label>
                        </div>
                    </div>
                    <h6 class="alertAddProduct" id="qtyAlert"></h6>

                    <label for="recipient-name" class="col-form-label">Discount Value</label>
                    <input type="text" name="discountValue" placeholder="enter Discount Value" class="form-control"
                        id="discountValue-name">

                <h6 id="discountValueAlert"></h6>
                </div>

                <div class="col-md-6">
                    <h5>Chose image for poster</h5>
                  

                    <div class="card text-bg-dark">
                        <img id="image-preview" src="/images/picimage.png" class="card-img" alt="...">

                    </div>


                    {{!-- Upload image with preview --}}


                    <div class="row">
                        <div class="card-body col-sm-3">
                            <div class="input-upload">
                                <img id="image-preview1" src="  " alt="" />
                                <input data-id="1" class="form-control inputImage" name="images" type="file"
                                    id="image-input-1" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    <h6 id="imgAlert"></h6>
                    <label class="form-label" for="aboutProduct"> Offers details</label>
                    <textarea class="form-control" placeholder="Enter a detailed description..." name="offerDetails"
                        id="longdescription" rows="4"></textarea>
                    <h6 class="alertAddProduct" id="longAlert"></h6>
                </div>

            </div>
            <div class="col-12">
                <div class="button-create-cancel">
                    <button type="submit" class="btn btn-primary create">Create</button>
                    <a class="btn btn-danger" href="/admin/offers">Cancel</a>
                </div>
            </div>

        </form>
    </div>

</div>
</div>
{{!-- modal 4 --}}
<div class="modal fade " id="imageModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="imagecrop4 width-100">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="cropButton" class="btn btn-primary">Crop</button>
            </div>
        </div>
    </div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/validation.js"></script>
<script>









   



    document.addEventListener('DOMContentLoaded', function () {

        let cropper;

        const input = document.getElementById('image-input-1')


        console.log(input)
        input.addEventListener('change', (e) => {
            previewImage(e)

        })
        


        const create = document.querySelector('.create');

        create.addEventListener('click',function(e){

            e.preventDefault()
            var offerTitle = document.getElementById("OfferTitle-name").value;
            var category = document.getElementById("category").value;
            var startDate = document.getElementById("start-date").value; 
            var endDate = document.getElementById("end-date").value; 
            var discountValue = document.getElementById("discountValue-name").value;
            var offerDetails = document.getElementById("longdescription").value;
            var fullPath = document.getElementById("image-input-1").value;
            var imageinput = fullPath.split("\\").pop().split("/").pop();

            console.log("Offer Title:", offerTitle);
            console.log("Category:", category);
            console.log("Start Date:", startDate);
            console.log("End Date:", endDate);
            console.log("Discount Value:", discountValue);
            console.log("Offer Details:", offerDetails);
            console.log("Image Input:", imageinput);



           axios.post('/admin/validation', {
                offerTitle,category,startDate,endDate,discountValue,offerDetails,imageinput
            })
                .then(function (response) 
                {
                    const {offerTitle,category,startDate,endDate,discountValue,offerDetails,imageinput}= response.data
                    validation(offerTitle,category,startDate,endDate,discountValue,offerDetails,imageinput)
                    console.log(response);
                })
                .catch(function (error) {
                    console.error(error);
                });
            
        })


        function validation(offerTitle,category,startDate,endDate,discountValue,offerDetails,imageinput) {


                const offerTitleAlert = document.getElementById('OfferTitleAlert');
                const startDateAlert = document.getElementById('startDateAlert');
                const endDateAlert = document.getElementById('endDateAlert');
                const discountValueAlert = document.getElementById('discountValueAlert');
                const imgAlert = document.getElementById('imgAlert');
                const longAlert = document.getElementById('longAlert');
                const offerForm= document.getElementById('offerForm');

                console.log("Entered validation",offerTitle,startDate,endDate,discountValue,offerDetails,imageinput)
                

                if (offerTitle)
                {

                    offerTitleAlert.innerHTML = "Please Enter Offer Title";
                    offerTitleAlert.style.color = "red";
                    return

                }else if(!startDate)
                {
                    startDateAlert.innerHTML = "Please Enter Start Date";
                    
                    startDateAlert.style.color = "red";
                    return
                }else if(!endDate)
                {
                    endDateAlert.innerHTML = "Please Enter valid End Date";
                    endDateAlert.style.color = "red";
                    return
                }else if(!discountValue)
                {
                    discountValueAlert.innerHTML = "Please Enter Discount Value";
                    discountValueAlert.style.color = "red";
                    return
                }else if(offerDetails)
                {
                    longAlert.innerHTML = "Please Enter Offer Details";
                    longAlert.style.color = "red";
                    return
                }else if(!imageinput)
                {
                    imgAlert.innerHTML = "Please Select Image";
                    imgAlert.style.color = "red";
                    return

                }else
                {
                    offerForm.submit();
                }



        }
        

 






    function previewImage(event) {
        const input = event.target;
        console.log("Entered preview image", input)
        let number = input.getAttribute("data-id");
        let productId = input.getAttribute("data-prod");

        console.log(`image-preview`);
        const preview = document.getElementById(`image-preview`);
        const imageElement = document.querySelector(`.imagecrop4`);

        console.log("This is input.files", input.files);

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                //preview.src = e.target.result;                    

                $(document).ready(function () {
                    $(`#imageModal4`).modal('show');
                });


                let img = document.createElement("img");
                img.id = 'image';
                img.src = e.target.result;

                //append this img tag to a modal
                imageElement.appendChild(img);
                //crop image
                cropper = new Cropper(img, {
                    aspectRatio: 720 / 360, // Set aspect ratio to 720:360 (or 2:1)
                    viewMode: 1,
                    dragMode: "move",
                    minContainerWidth: 720, // Adjust container width to accommodate the desired crop size
                    minContainerHeight: 360, // Adjust container height to accommodate the desired crop size
                    minCropBoxWidth: 720, // Set minimum crop box width to 720
                    minCropBoxHeight: 360, // Set minimum crop box height to 360
                    minCanvasWidth: 720, // Set minimum canvas width to 720
                    minCanvasHeight: 360, // Set minimum canvas height to 360
                });

            };

            reader.readAsDataURL(input.files[0]);

            const cropButton = document.getElementById(`cropButton`);
            cropButton.addEventListener("click", () => {
                const fileInputsrc = document.getElementById('image-input-1');

                console.log("Entered crop button")

                let imgsrc = cropper.getCroppedCanvas().toDataURL("image/jpeg");


                preview.src = imgsrc;


                const byteCharacters = atob(imgsrc.split(',')[1]);
                const byteNumbers = new Array(byteCharacters.length);
                for (let i = 0; i < byteCharacters.length; i++) {
                    byteNumbers[i] = byteCharacters.charCodeAt(i);
                }

                const byteArray = new Uint8Array(byteNumbers);
                const blob = new Blob([byteArray], { type: 'image/jpeg' });
                const croppedFile = new File([blob], 'cropped_image.jpg', { type: 'image/jpeg' });
                const fileInput = document.getElementById('image-input-1');
                const dataTransfer = new DataTransfer();
                dataTransfer.items.add(croppedFile);
                fileInput.files = dataTransfer.files;

                console.log(blob);

                //close modal
                var modal = document.getElementById(`imageModal4`);
                var bootstrapModal = bootstrap.Modal.getInstance(modal);
                bootstrapModal.hide();
            });
        }
    }




    });

</script>