<link rel="stylesheet" type="text/css" href="css/userLogin.css">

  <div class="logo-image">

                                <a  href="/">
                                <img class="logo-signup" src="images/icons/logoourshop.png" alt="IMG-LOGO">
                                </a>

        </div>
<div class="user-login-main">

            <h3 class="user_login_title">Forgot Password</h3>
            <h5 class="subtitle-loginpage">Enter your details to get access</h5>
<div class="login-form-for-user">
    {{#if wrongCredentials}}
    <div class="alert alert-danger" role="alert">
        Enter Valid Mobile Number and Password
    </div>
    {{/if}}
    {{#if blocked}}
    <div class="alert alert-danger" role="alert">
        You are blocked
    </div>
    {{/if}}

            <form autocomplete="off">

                            <div class="input-for-login">
                                <label for="">Enter Your Mobile</label>
                                <input autocomplete="off" name="phone" type="text" id="input-email-user" class="input-email-user" placeholder="Enter your Email or Mobile " >
                            </div>
                            <h6 class="  text-danger pt-2" id="alert"></h6>
                            <div class="login-button">
                                <button type="
                                submit" class="user-login-btn" id="send-otp"><i class="fa-solid fa-envelope"></i> Send OTP</button>
                            </div>       
            </form>

                <h6>Already have an account? <a class="click-to-signup" href="/user_login_form">Click Here</a> to login</h6>

</div>
      
</div>
                <h6 id="bottom-text">©Copyright Our Shop E-Commerce Project  by Afsal </h6>   

{{!-- modal --}}
<div class="modal" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Set New Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="password" id="new-password" class="form-control" placeholder="New password">
                <input type="password" id="confirm-password" class="form-control" placeholder="Confirm new password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="validatePasswords()">Save changes</button>
            </div>
        </div>
    </div>
</div>







<script>


document.addEventListener('DOMContentLoaded',function(){

const inputField = document.getElementById('input-email-user');
const sendOtpBtn =document.getElementById('send-otp');
let inputValid ;


    // Add an input event listener
    inputField.addEventListener('input', function() {
        // Get the current value of the input field
        const inputString = inputField.value;
        const alert = document.getElementById('alert')
        

       

        // Use fetch to send the input value to a server for checking
        fetch('/inputcheck', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({inputString}),
        })
        .then(response => response.json())
        .then(data => {
            
            if(data)
            {
                 inputField.style.border = '1px solid green';
                 inputField.style.boxShadow = '0 0 5px 2px green';
                 alert.innerHTML=""
                 inputValid=true;

                 

            }else
            {
                 inputField.style.border = '1px solid red';
                 inputField.style.boxShadow = '0 0 5px 2px red';
                 alert.innerHTML="Enter Valid Email or Mobile"
                 inputValid=false;
            }
           
            // Handle the response from the server
            console.log('Server response:', data);
        })
        .catch(error => {

             console.log('Server response:', error);
            
        });
    });



sendOtpBtn.addEventListener("click", function(e) {

    e.preventDefault()
    if(inputValid)
    {
        otpSend();

    }else
    {

    swal("Error", "The provided number or email is not registered.", "error");

    }

})






function otpSend (){


    fetch('/forgotpasswordotp', {

        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },

        body: JSON.stringify({input: inputField.value}), // assuming the OTP needs to be sent to the email provided in inputField
    })
    .then(response => {
        if(response.ok) {
            return response.json();
        } else {
            throw new Error('Failed to send OTP');
        }
    })
    .then(data => {
        console.log('Server response:', data);
        otpAlert();
    })
    .catch(error => {
        console.error('Error:', error);
        swal("Failed", "Failed to send OTP. Please try again.", "error");
    });

}


function otpAlert()
{
swal({
    title: "Enter your OTP",
    text: "Please enter the OTP you received and click submit",
    content: {
        element: "input",
        attributes: {
            placeholder: "Type your OTP here",
            type: "text",
            id: "otp-input"
        },
    },
    button: {
        text: "Submit",
        closeModal: false,
    },
}).then(otp => {

    if (!otp) throw null;

    return fetch('/otp_verify', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ otp,forgot:true }),
    });
})
.then(response => {
    if (response.ok) {
        return response.json();
    }
   swal("Failed", "OTP verification failed. Please try again.", "error");
})
.then(jsonResponse => {

    const {userId}=jsonResponse;

console.log("jdo",jsonResponse)

swal("Success", "OTP verified successfully!", "success").then(() => {

    window.location.href = `/forgotpassewordreset/${userId}`;

});


})
.catch(error => {
    if (error) {
        swal("Failed", "OTP verification failed. Please try again.", "error");
    }
});


}










})             



</script>
      