<link rel="stylesheet" type="text/css" href="/css/userLogin.css">

<div class="logo-image">
  <a href="/">
    <img class="logo-signup" src="/images/icons/logoourshop.png" alt="IMG-LOGO">
  </a>
</div>

<div class="user-login-main">
  <h3 class="user_login_title">Reset Password</h3>
  <h5 class="subtitle-loginpage">Enter new password </h5>

  <div class="login-form-for-user">


    <form autocomplete="off" >
      <h6 class="text-center" id="alert"></h6>
     
      <div class="input-for-login">
        <label for="password">Password</label>
        <input autocomplete="off" name="password" type="password" id="password" class="input-email-user"
          placeholder="Enter your password">
      </div>
      

      <div class="input-for-login">
        <label for="confirm-password">Confirm Password</label>
        <input autocomplete="off" name="confirm-password" type="password" id="confirm-password" class="input-email-user"
          placeholder="Confirm your password">
      </div>

      <h6 class="text-danger pt-2" id="alert"></h6>

      <div class="login-button">
        <button  class="btn btn-dark " id="passwordrest-btn"><i class="fa-solid fa-lock"></i> Submit</button>
      </div>
    </form>

    <h6>Already have an account? <a class="click-to-signup" href="/user_login_form">Click Here</a> to login</h6>
  </div>
</div>

<h6 id="bottom-text">©Copyright Our Shop E-Commerce Project by Afsal</h6>

<script>

document.addEventListener('DOMContentLoaded',()=>{

const SubmitBtn = document.getElementById('passwordrest-btn')

SubmitBtn.addEventListener('click',function(e){

  e.preventDefault()

  passwordValidation()

})









  function passwordValidation() {
    var password = document.getElementById('password').value;
    var confirmPassword = document.getElementById('confirm-password').value;
    var spaceRegex = /\s/;
    let alert = document.getElementById('alert');

    if (spaceRegex.test(password) || spaceRegex.test(confirmPassword)) {
      alert.innerHTML = 'Password should not contain spaces.';
      alert.style.color = 'red';
      return false;
    }

    if (password !== confirmPassword) {

      alert.innerHTML = ' <i class="fa fa-warning" aria-hidden="true"></i> Passwords do not match.'
      alert.style.color = 'red';
      return false;
    }

    if (password === '' || confirmPassword === '') {

      alert.innerHTML = ' <i class="fa fa-warning" aria-hidden="true"></i> Please enter password and confirm password.'
       alert.style.color = 'red';
      return false;
    }

    
    fetch('/update_password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        password: document.getElementById('password').value,
        confirmPassword: document.getElementById('confirm-password').value
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {

        alert.innerHTML = '<i class="fa fa-check" aria-hidden="true"></i> Your password has been reset successfully. Redirecting in <span id="redirect-timer">10</span> seconds.';
        alert.style.color = 'green';
        
        let countdown = 10;
        const timerId = setInterval(() => {
          countdown -= 1;
          document.getElementById('redirect-timer').textContent = countdown;
          if (countdown <= 0) {

            clearInterval(timerId);
            window.location.href = '/user_login_form';
          }
        }, 1000);

      } else {
        alert.innerHTML = '<i class="fa fa-warning" aria-hidden="true"></i> ' + data.message;
        alert.style.color = 'red';
      }
    })
    .catch(error => {
      alert.innerHTML = '<i class="fa fa-warning" aria-hidden="true"></i> An error occurred. Please try again.';
      alert.style.color = 'red';
      console.error('Error:', error);
    });
  }




})


</script>
