{{>navTwoUser}}

{{>profileLayout}}

<div class="info-section text-dark 
            w-75 h-100 p-3">

    <h2 class=" pb-5 ">Wallet Information</h2>


        <h4>Balance</h4>
        <h4 class="pt-2 pb-2 text-success ">RS 5000</h4>
        <input type="text" class="input-personal input-full-name" placeholder="Enter Amount">
        


        <button class="btn btn-danger mt-5 me-4 ">Add Balance</button>
        
 

</div>




</div>

</div>





{{>userFooter}}