{{>navTwoUser}}
{{>profileLayout}}


<div class="info-section text-dark 
            w-75 h-100 p-3">

    <h2 class=" pb-5 ">My Orders</h2>

<div class="row justify-content-around">

<div class="card m-3  col-sm-12  col-md-12 col-lg-3 " style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
             <a href="#" class="btn mt-1  btn-dark">View</a>
             <a href="#" class="btn mt-1 btn-danger">Delete</a>
        </div>
    </div>
    <div class="card m-3  col-sm-12  col-md-12 col-lg-3 " style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Product Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn mt-1 btn-dark">View</a>
             <a href="#" class="btn mt-1 btn-danger">Delete</a>
        </div>
    </div>

</div>
    



</div>


</div>

</div>



{{>userFooter}}