{{>navTwoUser}}
{{>profileLayout}}

<div class="info-section text-dark 
            w-75 h-100 p-3">

    <h2 class=" pb-5 ">Reset Password</h2>
    <h4 class="text-center " style="color: red;" id="alert-for-reset"></h4>

    <form action="">

        <label for="inputPassword5" class="form-label">Old Password</label>
        <input type="password" id="Old-Password" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
            special
            characters, or emoji.
        </div>

        <label for="inputPassword5" class="form-label">New Password</label>
        <input type="password" id="New-Password" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
            special
            characters, or emoji.
        </div>

        <label for="inputPassword5" class="form-label">Confirm New Password</label>
        <input type="password" id="Confirm-New-Password" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
            special
            characters, or emoji.
        </div>

        <button id="submit-reset-ps" class="btn btn-dark mt-5 me-4" data-id="{{personalInfo._id}}">Submit</button>
        <button class="btn btn-danger mt-5  ">cancel</button>

    </form>
</div>




</div>

</div>





{{>userFooter}}



<script>



    document.addEventListener('DOMContentLoaded', function () {
        // Get all dropdown items



        let submit = document.getElementById('submit-reset-ps')





        // Add click event listener to each dropdown item

        submit.addEventListener('click', function (event) {
            event.preventDefault();
            var id = submit.getAttribute('data-id');
            let alert = document.getElementById('alert-for-reset')
            let OldPassword = document.getElementById('Old-Password').value;
            let Password = document.getElementById('New-Password').value;
            let confirmPassword = document.getElementById('Confirm-New-Password').value;
            let PasswordRegx = /^\S+$/

            console.log("clicked")

            if (!PasswordRegx.test(Password)) {
                alert.innerText = "Please check the entered details"

            } else if (Password != confirmPassword) {
                alert.innerText = "Password is not matching"

                console.log("not match")
            }

            else {
                fetch('/profile/changePassword', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id: id, OldPassword: OldPassword, Password: confirmPassword }),
                })
                    .then(response => response.json())
                    .then(data => {

                        if (data) {
                            alert.innerText = "Password Reset Succsess"
                        } else {
                            console.log("else working")
                            alert.innerText = "Old Password is not matching"
                        }

                        console.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });


            }




        });
    });














    $(document).ready(function () {
        var currentPage = window.location.pathname;

        $('.side-button').each(function () {
            var buttonHref = $(this).parent().attr('href');

            if (currentPage === buttonHref) {
                // Change button color directly using jQuery
                $(this).css({
                    'background-color': 'white', // Your desired active color
                    'color': 'black'
                });
            }
        });
    });
</script>