{{>userNav}}
{{>profileLayout}}


<div class="info-section text-dark 
            w-75 h-100 p-3">

    <h2 class=" pb-5 ">Returned Products</h2>

    <div class="d-grid gap-2">
        <input class="form-control" type="text" placeholder="Search Returns" aria-label="default input example">
        <button class="btn btn-dark ">Search</button>
    </div>

    <div class="card mt-4 ">
        <div class="card-header">
            OrderId #546546
        </div>
        <div class="card-body">
            <h5 class="card-title">Order Amount : Rs 1500 </h5>
            <p class="card-text">Return initiated on 20/12/2024</p>
            <a href="#" class="btn btn-dark mt-5">View Status</a>
        </div>
    </div>



</div>


</div>

</div>



{{>userFooter}}