{{! css for this page }}
<link rel="stylesheet" type="text/css" href="css/userSignup.css" />

{{! css for this page }}
{{>userNav}}
<div class="main-div-for-signup bg-black pb-2 ">


<div class="user-signup-main">

  <h3 class="user_signup_title">Sign Up</h3>
  <h5 class="subtitle-signupage">Create your account to get full access</h5>
  <div class="signup-form-for-user">

    <form method="post" action="/user_register" onsubmit="return Validation()">
      <h4 id="validation-alert"></h4>
      {{#if alert}}
      <div class="alert alert-danger" role="alert">
        Email or Mobile Already Exists
      </div>
      {{/if}}
      <div class="input-for-signup">
        <label for="">Full Name</label>
        <input name="fullName" id="fullName" type="text" class="input--user form-control" placeholder="Enter your Full Name" />
      </div>
      <div class="input-for-signup">
        <label for="gender ">Gender</label>
        <div class="gender-options">
          <select name="gender" id="Category" class="input-field-add-product form-select ">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="input-for-signup">
        <label for="">Email Address</label>
        <input name="email" id="email" type="Email" class="input--user form-control" placeholder="Enter your Email" />
      </div>
      <div class="input-for-signup">
        <label for="">Mobile</label>
        <input name="mobile" id="mobile" type="text" class="input--user form-control" placeholder="Enter your Mobile" />
      </div>

      <div class="input-for-signup">
        <label for="">Password</label>
        <input name="password" id="password" type="password" class="input--user form-control" placeholder="Enter Password" />
      </div>
      <div class="input-for-signup">
        <label for="">Confirm Password</label>
        <input name="comfirm_password" id="comfirm_password" type="password" class="input--user form-control"
          placeholder="Confirm Password" />
      </div>

      <div class="signup-button">
        <button type="
                                        submit" class="user-signup-btn btn-dark ">Signup</button>

      </div>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </form>

    <h6>Already have an account?
      <a class="click-to-login" href="/user_login_form">Click Here</a>
      to Login
    </h6>

  </div>

</div>
</div>



{{>userFooter}}
<script>

function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}



  function Validation() {


    let password = document.getElementById("password").value
    let confirmpassword = document.getElementById('comfirm_password').value
    let email = document.getElementById('email').value
    let name = document.getElementById('fullName').value
    let mobile = document.getElementById('mobile').value
    let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    let nameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)?$/;
    let mobileRegex = /^\d{10}$/
    let passwordregx = /^[^\s]+$/


    let alert = document.getElementById('validation-alert')
    let emailalert = document.getElementById('validation-alert')
    let nameAlert = document.getElementById('validation-alert')


    if (!name.match(nameRegex)) {
      nameAlert.innerHTML = "Name Not valid"
      return false
    } else if (!email.match(emailRegex)) {
      alert.innerHTML = "Email Not Valid"
      return false
    }
    else if (!mobile.match(mobileRegex)) {
      emailalert.innerHTML = "Mobile Not Valid"
      return false
    } else if (!password.match(passwordregx)) {
      alert.innerHTML = "Password should not contain space"
      return false
    } else if (password != confirmpassword) {
      alert.innerHTML = "Password Not Matching"
      return false
    } else {
      return true
    }



  }


</script>
